- # coding: utf-8

- @post = Post.last
- hue = @post.hue
- content_for :header do
  %a.back_link{:href=>"/"} Sketching with Code
  .mega{:style=>"background-color:hsl(#{hue},50%,75%);"}
    %h1
      Work in progress in progress

%article
  %p
    Over the next few weeks you'll see some of my writing about hacking, some things edited from what I've published, some new material, published here.

  %p
    It's an experiment in writing for the web. Is it a "web book"? I don't know yet, but I'm sure it's going to be interesting.

  %p
    %strong
      Add your email for updates
  :plain
    <div id="mc_embed_signup">
    <form action="http://makeshift.us6.list-manage.com/subscribe/post?u=c14f3f1491719e4e90f5612c9&amp;id=042a791f81" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <div class="mc-field-group">
      <label for="mce-EMAIL">Get emailed as I write:</label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    </form>
    </div>

