---
layout: default
title: Sketching with Code
---

<div class="posts">
{% for post in paginator.posts %}
  <div class="post">
    <h1><a href="{{post.url }}">{{ post.title }}</a></h1>
    {{ post.content }}
  </div>
{% endfor %}
</div >

<nav id="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/blog" title="Previous Page">&laquo; Previous</a>
    {% else %}
    <a href="/blog/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
    {% endif %}
  {% endif %}
  
  {% if paginator.next_page %} 
  <a href="/blog/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
  {% endif %} 
</nav>