- # coding: utf-8
- @hide_footer = true

- @post = Post.last
- hue = @post.hue
- content_for :header do
  %a.back_link{:href=>"/"} Sketching with Code
  .mega{:style=>"background-color:hsl(#{hue},50%,75%);"}
    %h1
      Words in progress


%article
  %p
    I'm turning
    %em
      Sketching with Code
    into a web book. This is a work in progress, and I'm publishing as I go.

  %p
    Comments, thoughts and suggestions gratefully received.

  .start-reading
    %h2
      %a{:href=>"/book/introduction"} Start reading