%article
  %h1
    Thanks
  %p
    I've spoken to a bunch of people about this project - thanks for your time, no matter how little!
  %p
    %a{:href=>"https://twitter.com/#!/stef/sketching-with-code"} Twitter list
    of all of these nice folk.

  %ul.twitter_users
    - @members.users.each do |user|
      %li
        .avatar
          %img{:src=>user.profile_image_url}
        .about
          %h3
            %a{:href=>user.url}= user.name.humanize
          = simple_format user.description
        .follow
          %a{:href=>"https://twitter.com/#{user.screen_name}", :class=>"twitter-follow-button", :"data-button" => "grey", :"data-text-color" => "#FFFFFF", :"data-link-color"=>"#FFFFFF", "data-show-count" =>"false"}= "Follow @#{user.screen_name}"

